<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="welcome" class="well">
          <div class="hero-unit">
            <h1>Track daily <span class="orange">routines.</span><br>Get sh*t done. <span style="color:#bd362f;"></span></h1>
            <p>A <strong><span class="">free</span></strong> tool to help you meet your daily goals.<br>
            Get a streak going. Maintain it.</p>
            <div id="screenshots">
              <img class="screenshot-left" src="/images/screenshot-monthly.png" alt="Monthly Screenshot">
              <img class="screenshot-middle" src="/images/screenshot-routines.png" alt="Routines Screenshot">
              <img class="screenshot-right" src="/images/screenshot-yearly.png" alt="Yearly Screenshot">
            </div>
            We <i class="fa fa-heart"></i> Quantified Self.
          </div>

          <div class="well" style="margin-top:25px">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-md-5 col-md-offset-1 text-only text-left">
                  <h3>Free for our friends!</h3>This tool leverages, and was inspired by, many amazing <a href="https://github.com/technoweenie/seinfeld">open</a> <a href="https://github.com/topfunky/calendar_helper">source</a> <a href="https://github.com/twitter/bootstrap/">projects</a> and it remains in the <a href="https://github.com/chadokruse/dailyviva">public domain</a>. If you find it useful please consider donating a few bucks to one of our <a href="https://kyn.me/activity/tag/tech">favorite non-profits.</a>
                  </div>
                  <div class="col-md-6">
                    <div class="landing-cta-wrapper">
                      <div class="landing-cta col-sm-6 col-sm-offset-3">
                      <a href="{{pathFor route='calendar' view='new' id='1'}}" class="btn btn-lg btn-warning">Start tracking <i class="fa fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>
