<template name="calendar">
  <div id="calendar-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div id="selectors" class="title">
            <p class="subtitle daily pull-left">Daily</p>
            <p class="subtitle daily pull-right">Occasional</p>
            <div class="btn-group" data-toggle="buttons">
              <div class="row">
                <div class="col-xs-12">
                  <div class="daily-wrapper pull-left">
                    {{#each routinesDaily}}
                      <label class="js-routine-select btn btn-daily btn-dailyviva active daily-selectors" data-id="{{_id}}">
                        <input type="radio" name="routine" id="daily-1" autocomplete="off" checked /> {{name}}
                      </label>
                    {{/each}}
                    <label class="btn btn-daily btn-dailyviva daily-selectors">
                      <input type="radio" name="routine" id="daily-1" autocomplete="off" />Add <i class="fa fa-plus-circle"></i>
                    </label>
                  </div>
                  <div class="occasional-wrapper text-right">
                    <label class="btn btn-daily btn-dailyviva daily-selectors">
                      <input type="radio" name="routine" id="daily-1" autocomplete="off" /><i class="fa fa-plus-circle"></i> Add
                    </label>
                    {{#each routinesOccasional}}
                      <label class="js-routine-select btn btn-daily btn-dailyviva daily-selectors" data-id="{{_id}}">
                        <input type="radio" name="routine" id="occasional-1" autocomplete="off"/> {{name}}
                      </label>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div id="calendar">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
