<template name="calendar">
  <div id="calendar-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="selectors-wrapper title">
            <p class="subtitle daily pull-left">Daily</p>
            <p class="subtitle daily pull-right">Occasional</p>
            <div class="btn-group" data-toggle="buttons">
              <div class="row">
                <div class="col-xs-12">
                  <div class="daily-wrapper pull-left">
                    {{#each routinesDaily}}
                      <label class="js-routine-select btn btn-daily btn-dailyviva active daily-selectors" data-id="{{_id}}">
                        <input type="radio" name="routine" id="daily-1" autocomplete="off" checked /> {{name}}
                      </label>
                    {{/each}}
                    <label class="js-add js-add-daily btn btn-link btn-link-gray-light btn-sm" data-toggle="tooltip" data-animation="true" data-original-title="Click to add a new daily routine" data-container="body">
                      <!--input type="radio" name="routine" id="daily-1" autocomplete="off" /-->Add <i class="fa fa-plus-circle"></i>
                    </label>
                  </div>
                  <div class="occasional-wrapper text-right">
                    <label class="js-add js-add-occasional btn btn-link btn-link-gray-light btn-sm" data-toggle="tooltip" data-animation="true" data-original-title="Click to add something you'd like to track occasionally" data-container="body">
                      <!--input type="radio" name="routine" id="daily-1" autocomplete="off" /-->Add <i class="fa fa-plus-circle"></i>
                    </label>
                    {{#each routinesOccasional}}
                      <label class="js-routine-select btn btn-daily btn-dailyviva daily-selectors" data-id="{{_id}}">
                        <input type="radio" name="routine" id="occasional-1" autocomplete="off"/> {{name}}
                      </label>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          {{days}}
          <div id="calendar">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
