/*------------------------------------------------------------------------------------
  Selector Buttons
------------------------------------------------------------------------------------*/
.selectors-wrapper {
  margin:0 auto;
  text-align:center;
}

.title{
  margin-top:30px;
  font-size:20px;
  text-transform:uppercase;
  letter-spacing:3px;
  a {
    font-size: 13px;
    text-transform: none;
    letter-spacing: normal;
  }
  .btn-group {
    .btn {
      margin-left: 5px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       border-radius: 4px;
    }
    .btn-large {
      margin-left: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
       border-radius: 5px;
    }
    .btn-daily {
      margin-left: 0;
      margin-right: 5px;
    }
  }
}

.selectors-wrapper {
  .btn-group {
    display: inline;
  }
  input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
  }
}

.subtitle{
  text-transform:uppercase;
  font-size:11px;
  color: $blue-light;
}

.btn {
  &.daily-selectors, &.occasional-selectors {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    //border: 2px solid #eee;
    font-size: 13px;
    text-transform: none;
    &.active {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

.occasional-selectors {
  text-align: right;
  float: right;
  a.btn, button.btn {
    text-align: right;
  }
}

/*------------------------------------------------------------------------------------
  Calendar Styles (Month View)
------------------------------------------------------------------------------------*/

#calendar {
  margin: 30px 0;
  padding: 20px;
  background-color: $gray-light;
  font-size:24px;
  border-top:2px solid #eee;
  line-height: normal !important;
  border-radius: 5px;
  border: 2px solid $blue-light;
}

#calendar table {
  //width:700px;
  border-spacing:none !important;
  border-collapse:collapse;
}

#calendar table td .btn, #calendar table td {
  position:relative;
  text-align:center;
  font-size:24px;
  font-weight:bold;
  width:100px;
  height:60px;
}

#calendar table td.otherMonth .btn, #calendar table td.otherMonth {
  color:#ccc;
}

#calendar tbody td.btn {
  display: table-cell;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  &.today {
    color: #51A351;
  }
  &.active {
    background-color: #e6e6e6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
  }
}

.datepicker-inline {
  width: auto;
}

table.table-condensed {
  margin: auto;
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
  background: transparent;
}

th.prev, th.next {
  color: $gray;
  font-weight:normal;
  text-decoration:none;
  font-size:11px;
  text-transform:uppercase;
  text-align: center !important;
  &:hover {
    //text-decoration: underline;
    color: $blue-dark;
    background-color: transparent;
  }
}

.datepicker-switch {
  padding:10px 0;
  font-size:48px;
  letter-spacing:5px;
  text-transform:uppercase;
  color: $blue-medium;
}

tr.dow {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}
th.dow {
width:100px;
padding:5px 0;
text-transform:uppercase;
font-size:12px;
color: $blue-light;
font-weight:normal;
letter-spacing:2px;
border-left:none;
border-right:none;
}

span.month.active {
  background-color: $blue-light;
}

td.day {
  color: $blue-dark;
  &:hover {
    color: $blue-dark;
  }
}

.datepicker table tr td.old, .datepicker table tr td.new {
  color: $gray;
  &:hover {
    color: $blue-dark;
  }
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  color: white;
  background-color: darken($gray-light, 10%);
  -webkit-animation: cc 1s linear 1s infinite alternate;
  animation: cc 1s linear 1s infinite alternate;
}

@-webkit-keyframes cc
{
  0%   { color: white;}
  50%  { color: $gray-light;}
  100% { color: white;}
}

@keyframes cc
{
  0%   { color: white;}
  50%  { color: $gray-light;}
  100% { color: white;}
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:focus, .datepicker table tr td.today:hover:focus, .datepicker table tr td.today.disabled:focus, .datepicker table tr td.today.disabled:hover:focus, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.today, .open .dropdown-toggle.datepicker table tr td.today:hover, .open .dropdown-toggle.datepicker table tr td.today.disabled, .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
  color: white;
  background-color: darken($gray-light, 5%);
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: darken($gray-light, 5%);
  cursor: pointer;
}

.today .day-indicator {
  margin: 0% 15%;
  border-radius: 50%;
}

td.active {
  background-color: $orange;
  &.day {
    .day-indicator {
      background-color: #ff7f66;
      color: white;
      margin: 0% 25%;
      padding: 10px;
      border-radius: 50%;
      font-size: .6em;
    }
  }
}

.today {
  background-color: #d9d9d9 !important;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  background-color: $gray-light;
  border-color: white;
  text-shadow: none;
  font-weight: normal !important;
  font-size: 1em !important;
  border-radius: 0;
}

/*------------------------------------------------------------------------------------
  Calendar Styles (Yearly View)
------------------------------------------------------------------------------------*/

#annual {
  margin:30px auto 15px auto;
  padding:0 0 20px 0;
  font-size:12px;
  font-family: "Futura", "Gill Sans", Arial, sans-serif;
  background:#fff;
  border-top:2px solid #000;
  border-bottom:1px solid #000;
  line-height: normal !important;
}

#annual table {
  width:100px;
  margin: 0 5px;
  border-spacing:none !important;
  border-collapse:collapse;
}

#annual table th.monthName {
  padding:10px 0;
  font-size:18px;
  letter-spacing:5px;
  text-transform:uppercase;
  color:#005580;
}

#annual table td .btn, #annual table td {
  position:relative;
  text-align:center;
  font-weight:bold;
  vertical-align: top;
}

#annual table td.otherMonth .btn, #annual table td.otherMonth {
  color:#ccc;
  vertical-align: middle;
}

#annual tbody td.btn {
  display: table-cell;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  &.today {
    color: #51A351;
  }
}

#annual tr.dayName {
  th{
  width:100px;
  padding:5px 0;
  text-transform:uppercase;
  font-size:8px;
  color:#666;
  font-weight:normal;
  letter-spacing:2px;
  border:1px solid #eee;
  border-left:none;
  border-right:none;
  }

  abbr[title] {
    cursor: default;
    border: none;
  }
}

/*------------------------------------------------------------------------------------
  Below Calendar
------------------------------------------------------------------------------------*/
.faq {
  font-style: italic;
  color: $blue-medium;
}
